#twitter-statusbarbutton {
	-moz-appearance: none;
	padding: 1px !important;
	margin: 2px 3px 2px 0px;
	background-color: transparent;
	-moz-user-focus: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

#twitter-toolbar-button {
	list-style-image: url("chrome://twitterbar/skin/twbtn_small.png");
	cursor: pointer;
}

toolbar[iconsize="small"] #twitter-toolbar-button {
	list-style-image: url("chrome://twitterbar/skin/twbtn_small.png");
}

#twitter-toolbar-button:hover {
	list-style-image: url("chrome://twitterbar/skin/add.png");
}

toolbar[iconsize="small"] #twitter-toolbar-button:hover {
	list-style-image: url("chrome://twitterbar/skin/add.png");
}